<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
    <!-- Footer -->
    <footer style="background-color:grey" class="page-footer font-small unique-color-dark pt-4">

        <!-- Footer Elements -->
        <div class="container">

          <!-- Call to action -->
          <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
              <h5 class="mb-1">Regístrate gratis!</h5>
            </li>
            <li class="list-inline-item">
              <a href="#!" class="btn btn-outline-white btn-rounded">Sign up!</a>
            </li>
          </ul>
          <!-- Call to action -->

        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright: By Adrián Poveda</div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
</html>
