{% extends 'baseProyecto.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
<link rel="stylesheet" href="{{ asset('css/estilos.css')}}">

{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <p class="form-title">
                    REGISTRO </p>
                <form class="login">
                <input type="text" placeholder="Username" />
                <input type="password" placeholder="Password" />
                <input type="text" placeholder="Email" />
                <input type="text" placeholder="Nombre" />
                <input type="text" placeholder="Apellidos" />
                <input type="date" placeholder="Fecha de nacimiento" />
                <input type="submit" value="Registrar" class="btn btn-success btn-sm" />
                <input type="submit" value="Cancelar" class="btn btn-primary btn-sm" />
                </form>
            </div>
        </div>
    </div>
    <div class="posted-by">By: Adrián Poveda </a></div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
